<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Fanfiction Bookmarker</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@code {
    [Parameter]
    public Action ToggleNav { get; set; }

    private void ToggleNavMenu()
    {
        ToggleNav?.Invoke();
    }
}
