@page "/"
<FanfictionBookmarker.Pages.Alerts.Shared.DevelopmentAlert Title="" Content="This website is current under development, and features may change at any time! Please be advised of this when using the site." />

<h1>Welcome to Fanfiction Bookmarker!</h1>
<span class="font-italic">Running FFB <VersionNum /></span>